@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
}

.table {
  background-color: #3f3f44
}

.table-header {
  background-color: #55555b
}

.week-header {
  margin: 2;
  align-self: center;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.card {
  display: block;
  text-align: left;  
  width: 170px;
  border-radius: 0.5rem;
  opacity: 0.6;
  justify-self: center;
  position: absolute;
}

.card-details {
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  position: fixed;
  background-color: #55555b;
}

.hour-line {
  width: 100dvw;
  height: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: #242424;
}

.input-element {
  background-color: #3f3f44;
  color: lightgray;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
